.form-group input{
    height: 42px;
    font-size: 12px;
    border:0;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 5px;
}

.form-group label{
    margin-top: 4px;
}


.main-section{
    margin:0 auto;
    margin-top:15%;
    padding: 0;
}

.modal-content{
    background-color: #e4d60f;
    opacity: .85;
    padding: 0 20px;
    box-shadow: 0px 0px 3px #e4d60f;
}

button{
    width: 60%;
    margin: 5px 0 25px;
}

label{
    font-size: 16px;
}

.form-group#user-group{
    content: "\f007";
}

.form-group#contrasena-group{
    content: "\f023";
}