
#modal_d{
    background-color: #ffff;
    padding: 0;
    box-shadow: 9px 9px 9px #3f4747;
}


#modal_c{
    width: max-content;
    height: max-content;

    background-color: #ffff;
    padding: 0;
    box-shadow: 9px 9px 9px #3f4747;
}